html,body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    text-align: center;
    font-family: 'lobster two',cursive;
    text-shadow: 2px 2px 4px #000000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

header img {
    height: 30px;
}

nav {
    width: 100%;
    padding: 0px;
    background-color: white; 
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px ;
}

nav li {
    display: inline-block;
    padding: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: large;
    color: gray;
}

a:hover {
    color: black;
    text-shadow: 2px 2px 3px white;
}

.etisLogo {
    background-image: url("../assets/etisLogo.png");
}

.bg-img{
    text-align: center;
    height: 70%;
    width: 100%;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-color{
    width: 100%;
    height: 100%;
    background-color: rgba(56, 54, 54, 0.6);
}

h1, h2, h3, h5{
    color: white;
    padding: 0;
    margin: 0;
}

h5 {
    margin: 0 0 30px 0;
}

.dataBundle {
    height: 10vw;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.btn1, .btn2 {
    padding: 5px;
    margin: 0px 10px;
    border-radius: 5px;
    font-size: medium;
    border: 0;
    width: 30ch;
}

.btn1 {
    color: rgb(58, 117, 134);
    background-color: rgb(207, 230, 236);
}

.btn2 {
    color: rgb(207, 230, 236);
    background-color: rgb(58, 117, 134);
}

.secondHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one {
    text-align: center;
    color: white;
    background-color: rgb(58, 117, 134);
    width: 50%;
    padding: 10px;
}

.two {
    text-align: center;
    color: rgb(58, 117, 134);
    background-color: white;
    width: 50%;
    padding: 10px;
    border-color: rgb(58, 117, 134);
    border: 5px;
}

.leftText {
    text-align: left;
    margin: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.firstSpan {
    border-radius: 50%;
    border: 5px solid gray;
    background-color: rgb(207, 230, 236);
    width: 7%;
    height: 100px;
    display: inline-block;
    text-align: center;
    align-self: center;
    margin: 1%;
}

.priceBtn, .dataBtn, .voice {
    background-color: rgb(58, 117, 134);
    color: white;
    border-radius: 5px;
    border: 0;
    width: 10%;
    padding: 12px;
    margin: 10px;
}

.priceBtn {
    width: 27%;
}

.spans {
    margin-bottom: 5%;
} 

.nextSpan {
    border-radius: 50%;
    border: 5px solid gray;
    background-color: rgb(207, 230, 236);
    width: 10%;
    height: 100px;
    display: inline-block;
}

.thirdBg-img {
    background-image: url("../assets/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2%;
}

.thirdBg-color {
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 54, 54, 0.6);
}

.data, .sixPart {
    clear: both;
    background-color: rgb(204, 204, 204)
}

.fifthPart-img {
    background-image: url("../assets/background3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
}

.fifthPart-color {
    padding-bottom: 2%;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 54, 54, 0.6);
}



/* Style all font awesome icons */
.fa {
    padding: 5px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-whatsapp {
    background: #3b9857;
    color: white;
  }

   /* Instagram */
  .fa-instagram {
    background: #881278;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }

  button {
      cursor: pointer;
  }

  .conditionUl {
    float: left;
    color: white;
  }

  .footer {
      margin-top: 2%;
      padding-top: 2%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .p-responsive {
        margin-top: 140%;
    }

    .firstSpan {
        width: 11%;
        margin: 9%;
    }
}